@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>Hier finden Sie eine Übersicht der Räume & Tische, die zur reservierung verfügbar sind</p>
</div>
