@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>

<p>Anbieter und Verantwortlicher für den Inhalt</p>
<p>CBM Proektmanagement GmbH</p>
<p>Süderstraße 63</p>
<p>20097 Hamburg</p>
<br>
<p>Telefon: 040 / 23 78 22-0</p>
<p>Fax: 040 / 23 78 22-11</p>
<p>Internet: www.cbm-projektmanagement.de</p>
<p>E-Mail: info@cbm-projektmanagement.de</p>
<br>
<p>Handelsregisternummer: HRM 55245</p>
<p>Amtsgericht Hamburg</p>
<p>Umsatzsteuer-Identifikationsnummer: DE163716621</p>
<br>
<p>Geschäftsführer: Horst Winkel</p>
