@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>

<p>Anbieter und Verantwortlicher für den Inhalt</p>
<p>CBM Systems GmbH</p>
<p>Süderstraße 63</p>
<p>20097 Hamburg</p>
<br>
<p>Telefon: 040 </p>
<p>Fax: 040 </p>
<p>Internet: www.cbm-projektmanagement.de</p>
<p>E-Mail: info@cbm-projektmanagement.de</p>
<br>
<p>Handelsregisternummer: HRM</p>
<p>Amtsgericht Hamburg</p>
<p>Umsatzsteuer-Identifikationsnummer: </p>
<br>
<p>Geschäftsführer: </p>
